<form
  bindvar=":"
  bindasset="apikey:api.api_key"
  method="post"
  action="{src}"
  data-header="apikey:{apikey}"
  data-onsuccess="rerun:#list"
  data-onerror="show:#formerror"
  onformsubmit="reset"
>
  <figure class="p1 shade1 bcwhite">
    <input type="text" name="task" class="f2 p05 bos2 bw1 light" placeholder="Add task" autocomplete="off" focus required>
    <div id="formerror" class="red" hide>Error!</div>
  </figure>
</form>
<h2 id="empty" class="tac" hide>List is empty. Add a task.</h2>
<div id="loader" class="loader"></div>
<div
  id="list"
  class="box cards shade1 list br0- bcwhite-"
  bindvar=":"
  bindasset="apikey:api.api_key"
  data-src="{src}?order=id.desc"
  data-header="apikey:{apikey}"
  data-loader="#loader"
  data-onempty="#empty"
  data-iterate="true">
  <span class="p1 aic" data-set="id:id" id="p{id}">
    <input
      type="checkbox"
      name="done"
      value="true"
      bindvar=":"
      data-set="id:id"
      data-get="done"
      data-reqpatch="{src}?id=eq.{id}&limit=1&order=id"
      data-header="#list"
      click="togglevalue"
      onvaluechange="data-reqpatch"
      width="24"
      height="24"
      class="fu"
    >
    <input
      type="text"
      name="task"
      id="t{id}"
      bindvar=":"
      data-set="id:id"
      data-get="task"
      data-reqpatch="{src}?id=eq.{id}&limit=1&order=id"
      data-onsuccess="blur"
      data-onerror="show:#josef{id}"
      datas-loader="#josef"
      data-header="#list"
      keyboard-key="Enter"
      keyboard-action="data-reqpatch"
      keyboard-scope
      wordbreak="break-all"
      whitespace="pre-wrap"
      autocomplete="off"
      class="ml1 mr1 bs0 bw0"
      value=" "
    >
    <small data-set="id:id" id="josef{id}" hide class="red" click="#t{id}">Error. <a click="rerun:#t{id}">Try again</a></small>
    <a
      bindvar=":"
      data-set="id:id"
      data-reqdelete="{src}?id=eq.{id}"
      data-header="#list"
      data-onsuccess="remove:#p{id}"
      click="confirm:[Are you sure?]"
      onconfirmvalue="true;data-reqdelete"
      class="bc0 fu fr icon24 dimgray"
    >
    &#128465;
    </a>
  </span>
</div>